<div class = "Index">
@{
    ViewData["Title"] = "Index";
}
    <h1>PRESENTACIONES AVA</h1>
    <p>Bienvenidos al sitio web de presentación de los integrantes del equipo AVA</p>
    <h2>INICIO SESION: </h2>
    <form action='@Url.Action("GuardarIngreso", "Home")' method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre" autocomplete = "off"/>
    <input type="password" name="contraseña" placeholder="Contraseña"/>
    <input type="submit" value="Guardar"/>
    </form>
</div>
