<div class = "Index">
@{
    ViewData["Title"] = "Index";
}

    <p>Bienvenidos al sitio web de presentación de los integrantes del equipo AVA</p>
    <h2>INICIE SESION: </h2>
    <form action='@Url.Action("GuardarIngreso", "Home")' method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="nombre" autocomplete = "off"/>
    <input type="password" name="contraseña" placeholder="contraseña"/>
    <input type="submit" value="Guardar"/>
    </form>
</div>
